## TODO: Modularize the gitlab yaml to reuse templates

## Define the stages & order of execution

stages:
    - CLUSTER-SETUP
    - DIRECTOR-SETUP
    - DIRECTOR-HEALTH-CHECK
    - USER-CLUSTER-SETUP
    - SELENIUM-GRID-SETUP
    - USER-CLUSTER-CONNECT
    - SELF-CLUSTER-CONNECT
    - SELENIUM-GRID-SETUP
    # - DIRECTOR-GUI-CHECK
    - SELENIUM-GRID-CLEANUP
    - METRICS-CHECK
    - TEAMING-CHECK
    - TOPOLOGY-CHECK
    - OPENEBS-INSTALL-CHECK
    - CSTORPOOL-RECOMMENDATION-CHECK
    - E2E-METRICS
    - CLUSTER-CLEANUP
  
## Setup the kubernetes cluster
cluster-create:
  image: harshshekhar15/gitlab-job:v5
  stage: CLUSTER-SETUP
  script:
    - chmod 755 ./stages/1-cluster-setup/setup
    - ./stages/1-cluster-setup/setup
  artifacts:
    when: always
    paths:
      - .kube/

## Deploy director-onprem
director-deploy:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-SETUP
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/2-provider-infra-setup/dop-deploy
    - ./stages/2-provider-infra-setup/dop-deploy
  artifacts:
    paths:
      - .kube/

## Selenium Grid Spin up
selenium-grid-deploy:
  image: harshshekhar15/gitlab-job:v5
  stage: SELENIUM-GRID-SETUP
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/16-selenium-grid/create
    - ./stages/16-selenium-grid/create
  artifacts:
    paths:
      - .kube/

# Director health check jobs
maya-io-server-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/maya-io-server-check
    - ./stages/3-director-sanity-check/maya-io-server-check
  artifacts:
    paths:
      - .kube/

maya-ui-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/maya-ui-check
    - ./stages/3-director-sanity-check/maya-ui-check
  artifacts:
    paths:
      - .kube/

od-elasticsearch-logging-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/od-elasticsearch-logging-check
    - ./stages/3-director-sanity-check/od-elasticsearch-logging-check
  artifacts:
    paths:
      - .kube/

od-kibana-logging-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/od-kibana-logging-check
    - ./stages/3-director-sanity-check/od-kibana-logging-check
  artifacts:
    paths:
      - .kube/

table-manager-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/table-manager-check
    - ./stages/3-director-sanity-check/table-manager-check
  artifacts:
    paths:
      - .kube/

chat-server-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/chat-server-check
    - ./stages/3-director-sanity-check/chat-server-check
  artifacts:
    paths:
      - .kube/

cloud-agent-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/cloud-agent-check
    - ./stages/3-director-sanity-check/cloud-agent-check
  artifacts:
    paths:
      - .kube/

mysql-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/mysql-check
    - ./stages/3-director-sanity-check/mysql-check
  artifacts:
    paths:
      - .kube/

maya-grafana-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/maya-grafana-check
    - ./stages/3-director-sanity-check/maya-grafana-check
  artifacts:
    paths:
      - .kube/

memcached-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/memcached-check
    - ./stages/3-director-sanity-check/memcached-check
  artifacts:
    paths:
      - .kube/

#Cortex infrastructure components jobs
alertstore-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/alertstore-check
    - ./stages/3-director-sanity-check/alertstore-check
  artifacts:
    paths:
      - .kube/

alertstore-tablemanager-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/alertstore-tablemanager-check
    - ./stages/3-director-sanity-check/alertstore-tablemanager-check
  artifacts:
    paths:
      - .kube/

alertmanager-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/alertmanager-check
    - ./stages/3-director-sanity-check/alertmanager-check
  artifacts:
    paths:
      - .kube/

cassandra-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/cassandra-check
    - ./stages/3-director-sanity-check/cassandra-check
  artifacts:
    paths:
      - .kube/

distributor-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/distributor-check
    - ./stages/3-director-sanity-check/distributor-check
  artifacts:
    paths:
      - .kube/

ingestor-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/ingestor-check
    - ./stages/3-director-sanity-check/ingestor-check
  artifacts:
    paths:
      - .kube/

querier-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/querier-check
    - ./stages/3-director-sanity-check/querier-check
  artifacts:
    paths:
      - .kube/

ruler-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/ruler-check
    - ./stages/3-director-sanity-check/ruler-check
  artifacts:
    paths:
      - .kube/

configs-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/configs-check
    - ./stages/3-director-sanity-check/configs-check
  artifacts:
    paths:
      - .kube/

configs-db-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/configs-db-check
    - ./stages/3-director-sanity-check/configs-db-check
  artifacts:
    paths:
      - .kube/

ingress-nginx-check:
  image: harshshekhar15/gitlab-job:v5
  stage: DIRECTOR-HEALTH-CHECK
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/3-director-sanity-check/ingress-nginx-check
    - ./stages/3-director-sanity-check/ingress-nginx-check
  artifacts:
    paths:
      - .kube/

## Create Cluster2 and Cluster3
cluster-setup-check:
  image: harshshekhar15/gitlab-job:v5
  stage: USER-CLUSTER-SETUP
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/4-user-cluster-setup/cluster-create-check
    - ./stages/4-user-cluster-setup/cluster-create-check
  variables:
    CLUSTER: cluster2
  artifacts:
    when: always
    paths:
      - .kube/
      - .awscluster2/

cluster3-setup-check:
  image: harshshekhar15/gitlab-job:v5
  stage: USER-CLUSTER-SETUP
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/4-user-cluster-setup/cluster-create-check
    - ./stages/4-user-cluster-setup/cluster-create-check
  variables:
    CLUSTER: cluster3
  artifacts:
    when: always
    paths:
      - .kube/
      - .awscluster3/

## User cluster connect
create-apikey-check:
  image: harshshekhar15/gitlab-job:v5
  stage: USER-CLUSTER-CONNECT
  variables:
    CLUSTER: cluster2
  script:
    - chmod 755 ./stages/5-cluster-connect-check/create-apikey-check
    - ./stages/5-cluster-connect-check/create-apikey-check

trrc01-cluster2-connect-check:
  image: harshshekhar15/gitlab-job:v5
  stage: USER-CLUSTER-CONNECT
  script:
    - chmod 755 ./stages/5-cluster-connect-check/cluster-connect-check
    - ./stages/5-cluster-connect-check/cluster-connect-check
  variables:
    CLUSTER: cluster2
  artifacts:
    when: always
    paths:
      - .kube/
      - .awscluster2/

trrc01-cluster3-connect-check:
  image: harshshekhar15/gitlab-job:v5
  stage: USER-CLUSTER-CONNECT
  script:
    - chmod 755 ./stages/5-cluster-connect-check/cluster-connect-existing-user
    - ./stages/5-cluster-connect-check/cluster-connect-existing-user
  variables:
    CLUSTER: cluster3
  artifacts:
    when: always
    paths:
      - .kube/
      - .awscluster3/

client-cluster2-components-check:
  image: harshshekhar15/gitlab-job:v5
  stage: USER-CLUSTER-CONNECT
  dependencies:
    - cluster-setup-check
  script:
    - chmod 755 ./stages/5-cluster-connect-check/client-components-check
    - ./stages/5-cluster-connect-check/client-components-check
  variables:
    CLUSTER: cluster2

client-cluster3-components-check:
  image: harshshekhar15/gitlab-job:v5
  stage: USER-CLUSTER-CONNECT
  dependencies:
    - cluster3-setup-check
  script:
    - chmod 755 ./stages/5-cluster-connect-check/client-components-check
    - ./stages/5-cluster-connect-check/client-components-check
  variables:
    CLUSTER: cluster3

ebs-volume-create-cluster2:
  image: harshshekhar15/gitlab-job:v5
  stage: USER-CLUSTER-CONNECT
  script:
    - chmod 755 ./stages/17-ebs-volume/create
    - ./stages/17-ebs-volume/create
  variables:
    CLUSTER: cluster2
    NUMBEROFVOLUMES: 3

ebs-volume-create-cluster3:
  image: harshshekhar15/gitlab-job:v5
  stage: USER-CLUSTER-CONNECT
  script:
    - chmod 755 ./stages/17-ebs-volume/create
    - ./stages/17-ebs-volume/create
  variables:
    CLUSTER: cluster3
    NUMBEROFVOLUMES: 3

## Self cluster connect
director-self-cluster-connect-check:
  image: harshshekhar15/gitlab-job:v5
  stage: SELF-CLUSTER-CONNECT
  dependencies:
    - cluster-setup-check
  script:
    - chmod 755 ./stages/6-self-cluster-connect/self-connect-cluster-check
    - ./stages/6-self-cluster-connect/self-connect-cluster-check

# ## GUI automated tests on Openebs installation on DOP cluster
# tcid-gaau01-gui-auth-check:
#   image: harshshekhar15/gitlab-job:v5
#   stage: DIRECTOR-GUI-CHECK
#   dependencies:
#     - director-deploy
#   script:
#     - chmod 755 ./stages/14-director-gui-check/gui-auth-check
#     - ./stages/14-director-gui-check/gui-auth-check
#   artifacts:
#     paths:
#       - /builds/oep/oep-e2e-aws/gui-automation/results
 
# tcid-gacc01-gui-cluster-check:
#   image: harshshekhar15/gitlab-job:v5
#   stage: DIRECTOR-GUI-CHECK
#   dependencies:
#     - director-deploy
#   script:
#     - chmod 755 ./stages/14-director-gui-check/gui-cluster-check
#     - ./stages/14-director-gui-check/gui-cluster-check
#   artifacts:
#     when: always
#     paths:
#       - /builds/oep/oep-e2e-aws/gui-automation/results
 
# tcid-gada01-gui-dashboard-home-check:
#   image: harshshekhar15/gitlab-job:v5
#   stage: DIRECTOR-GUI-CHECK
#   dependencies:
#     - director-deploy
#   script:
#     - chmod 755 ./stages/14-director-gui-check/gui-dashboard-home-check
#     - ./stages/14-director-gui-check/gui-dashboard-home-check
#   artifacts:
#     when: always
#     paths:
#       - /builds/oep/oep-e2e-aws/gui-automation/results
 
# tcid-gato01-gui-dashboard-topology-check:
#   image: harshshekhar15/gitlab-job:v5
#   stage: DIRECTOR-GUI-CHECK
#   dependencies:
#     - director-deploy
#   script:
#     - chmod 755 ./stages/14-director-gui-check/gui-dashboard-topology-check
#     - ./stages/14-director-gui-check/gui-dashboard-topology-check
#   artifacts:
#     when: always
#     paths:
#       - /builds/oep/oep-e2e-aws/gui-automation/results
 
# gui-dashboard-check:
#   image: harshshekhar15/gitlab-job:v5
#   stage: DIRECTOR-GUI-CHECK
#   dependencies:
#     - director-deploy
#   script:
#     - chmod 755 ./stages/14-director-gui-check/gui-dashboard-check
#     - ./stages/14-director-gui-check/gui-dashboard-check
#   artifacts:
#     when: always
#     paths:
#       - /builds/oep/oep-e2e-aws/gui-automation/results
 
# tcid-gaal01-gui-dashboard-alerts-check:
#   image: harshshekhar15/gitlab-job:v5
#   stage: DIRECTOR-GUI-CHECK
#   dependencies:
#     - director-deploy
#   script:
#     - chmod 755 ./stages/14-director-gui-check/gui-dashboard-alerts-check
#     - ./stages/14-director-gui-check/gui-dashboard-alerts-check
#   artifacts:
#     when: always
#     paths:
#       - /builds/oep/oep-e2e-aws/gui-automation/results
       
# tcid-galo01-gui-dashboard-logs-check:
#   image: harshshekhar15/gitlab-job:v5
#   stage: DIRECTOR-GUI-CHECK
#   dependencies:
#     - director-deploy
#   script:
#     - chmod 755 ./stages/14-director-gui-check/gui-dashboard-logs-check
#     - ./stages/14-director-gui-check/gui-dashboard-logs-check
#   artifacts:
#     when: always
#     paths:
#        - /builds/oep/oep-e2e-aws/gui-automation/results
 
# tcid-gada02-gui-dashboard-overview-check:
#    image: harshshekhar15/gitlab-job:v5
#    stage: DIRECTOR-GUI-CHECK
#    dependencies:
#      - director-deploy
#    script:
#      - chmod 755 ./stages/14-director-gui-check/gui-dashboard-overview-check
#      - ./stages/14-director-gui-check/gui-dashboard-overview-check
#    artifacts:
#      when: always
#      paths:
#          - /builds/oep/oep-e2e-aws/gui-automation/results

## Metrics check
metrics-check:
  image: harshshekhar15/gitlab-job:v5
  stage: METRICS-CHECK
  dependencies:
    - cluster3-setup-check
  script:
    - chmod 755 ./stages/7-metrics-check/metrics-check
    - ./stages/7-metrics-check/metrics-check

triv01-teaming-invite-check:
  image: harshshekhar15/gitlab-job:v5
  stage: TEAMING-CHECK
  dependencies:
    - cluster3-setup-check
  script:
    - chmod 755 ./stages/8-teaming-check/teaming-invite-check
    - ./stages/8-teaming-check/teaming-invite-check

trrc02-teaming-change-role-check:
  image: harshshekhar15/gitlab-job:v5
  stage: TEAMING-CHECK
  dependencies:
    - cluster3-setup-check
  script:
    - chmod 755 ./stages/8-teaming-check/teaming-change-role-check
    - ./stages/8-teaming-check/teaming-change-role-check

trrc03-teaming-change-role-negative-check:
  image: harshshekhar15/gitlab-job:v5
  stage: TEAMING-CHECK
  dependencies:
    - cluster3-setup-check
  script:
    - chmod 755 ./stages/8-teaming-check/teaming-change-role-negative-check
    - ./stages/8-teaming-check/teaming-change-role-negative-check

topology-check:
  image: atulabhi/kops:v8
  stage: TOPOLOGY-CHECK
  dependencies:
    - cluster3-setup-check
  script:
    - chmod 755 ./stages/9-topology-check/topology-check
    - ./stages/9-topology-check/topology-check
    
## Openebs installation on DOP cluster
tcid-iuoi01-openebs-self-install:
  image: harshshekhar15/gitlab-job:v5
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster3-setup-check
  script: 
    - chmod 755 ./stages/10-openebs-install-check/openebs-self-installation-check
    - ./stages/10-openebs-install-check/openebs-self-installation-check
    
## Openebs install check
tcid-iuoi02-openebs-install:
  image: harshshekhar15/gitlab-job:v5
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster-setup-check
  script:
    - chmod 755 ./stages/10-openebs-install-check/openebs-install-check
    - ./stages/10-openebs-install-check/openebs-install-check

## Openebs control plane installation Check
tcid-iuoi03-openebs-control-plane:
  image: harshshekhar15/gitlab-job:v5
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster3-setup-check
  script: 
    - chmod 755 ./stages/10-openebs-install-check/openebs-control-plane-test
    - ./stages/10-openebs-install-check/openebs-control-plane-test

## Openebs data plane installation Check
tcid-iuoi04-openebs-data-plane:
  image: harshshekhar15/gitlab-job:v5
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster3-setup-check
  script: 
    - chmod 755 ./stages/10-openebs-install-check/openebs-data-plane-test
    - ./stages/10-openebs-install-check/openebs-data-plane-test

## Openebs reinstallation Check
tcid-iuoi06-openebs-reinstallation:
  image: harshshekhar15/gitlab-job:v5
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster3-setup-check
  script: 
    - chmod 755 ./stages/10-openebs-install-check/openebs-reinstallation-test
    - ./stages/10-openebs-install-check/openebs-reinstallation-test

## openebs-resource-limit-installation
tcid-iuoi14-openebs-resource-limit-installation:
  image: harshshekhar15/gitlab-job:v5
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster3-setup-check
  script: 
    - chmod 755 ./stages/10-openebs-install-check/openebs-resource-limit-installation
    - ./stages/10-openebs-install-check/openebs-resource-limit-installation

## List capacity recommendations
tcid-cpre01-list-recommendations:
  image: harshshekhar15/gitlab-job:v5
  stage: CSTORPOOL-RECOMMENDATION-CHECK
  dependencies:
    - cluster-setup-check
  script:
    - chmod 755 ./stages/15-recommendation-check/capacity-recommendation
    - ./stages/15-recommendation-check/capacity-recommendation

## List device recommendations
tcid-cpre02-device-recommendation:
  image: harshshekhar15/gitlab-job:v5
  stage: CSTORPOOL-RECOMMENDATION-CHECK
  dependencies:
    - cluster-setup-check
  script:
    - chmod 755 ./stages/15-recommendation-check/device-recommendation
    - ./stages/15-recommendation-check/device-recommendation

## Selenium Grid Clean up
selenium-grid-cleanup:
  when: always
  image: harshshekhar15/gitlab-job:v5
  stage: SELENIUM-GRID-CLEANUP
  dependencies:
    - director-deploy
  script:
    - chmod 755 ./stages/16-selenium-grid/delete
    - ./stages/16-selenium-grid/delete
  artifacts:
    paths:
      - .kube/

## E2E test coverage
e2e-metrics:
  when: always
  image: harshshekhar15/gitlab-job:v3
  stage: E2E-METRICS
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/12-e2e-metrics/e2e-metrics
    - ./stages/12-e2e-metrics/e2e-metrics
  artifacts:
    paths:
      - .kube/
      
## Kubernetes cluster cleanup
cluster-cleanup:
  when: always
  image: harshshekhar15/gitlab-job:v5
  stage: CLUSTER-CLEANUP
  script:
    - chmod 755 ./stages/13-cluster-cleanup/delete-cluster
    - ./stages/13-cluster-cleanup/delete-cluster
  artifacts:
    when: always
    paths:
      - .kube/
