## TODO: Modularize the gitlab yaml to reuse templates

## Define the stages & order of execution

stages:
    - CLUSTER-SETUP
    - DIRECTOR-SETUP
    - USER-CLUSTER-SETUP
    - USER-CLUSTER-CONNECT
    - SELF-CLUSTER-CONNECT
    - METRICS-CHECK
    - TEAMING-CHECK
    - TOPOLOGY-CHECK
    - OPENEBS-INSTALL-CHECK
    - SELENIUM-GRID-SETUP
    # - CSTORPOOL-RECOMMENDATION-CHECK
    - OPENEBS-FUNCTIONAL
    - OPENEBS-CHAOS
    - DIRECTOR-GUI-CHECK
    - E2E-METRICS
    - CLUSTER-CLEANUP
  
## Setup the kubernetes cluster
cluster-create:
  image: harshshekhar15/gitlab-job:v6
  stage: CLUSTER-SETUP
  script:
    - chmod 755 ./stages/1-cluster-setup/setup
    - ./stages/1-cluster-setup/setup
  artifacts:
    when: always
    paths:
      - .kube/

## Deploy director-onprem
TCID-DIR-INSTALL-ON-LOCAL-HP:
  image: harshshekhar15/gitlab-job:v6
  stage: DIRECTOR-SETUP
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/2-provider-infra-setup/dop-deploy
    - ./stages/2-provider-infra-setup/dop-deploy
  artifacts:
    paths:
      - .kube/

## Selenium Grid Spin up
selenium-grid-deploy:
  image: harshshekhar15/gitlab-job:v6
  stage: SELENIUM-GRID-SETUP
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/16-selenium-grid/create
    - ./stages/16-selenium-grid/create
  artifacts:
    paths:
      - .kube/

## Create Cluster2 and Cluster3
cluster2-setup-check:
  image: harshshekhar15/gitlab-job:v6
  stage: USER-CLUSTER-SETUP
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/4-user-cluster-setup/cluster-create-check
    - ./stages/4-user-cluster-setup/cluster-create-check
  variables:
    CLUSTER: cluster2
  artifacts:
    when: always
    paths:
      - .kube/
      - .awscluster2/

cluster3-setup-check:
  image: harshshekhar15/gitlab-job:v6
  stage: USER-CLUSTER-SETUP
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/4-user-cluster-setup/cluster-create-check
    - ./stages/4-user-cluster-setup/cluster-create-check
  variables:
    CLUSTER: cluster3
  artifacts:
    when: always
    paths:
      - .kube/
      - .awscluster3/

## User cluster connect
create-apikey-check:
  image: harshshekhar15/gitlab-job:v6
  stage: USER-CLUSTER-CONNECT
  variables:
    CLUSTER: cluster2
  script:
    - chmod 755 ./stages/5-cluster-connect-check/create-apikey-check
    - ./stages/5-cluster-connect-check/create-apikey-check

trrc01-cluster2-connect-check:
  image: harshshekhar15/gitlab-job:v6
  stage: USER-CLUSTER-CONNECT
  script:
    - chmod 755 ./stages/5-cluster-connect-check/cluster-connect-check
    - ./stages/5-cluster-connect-check/cluster-connect-check
  variables:
    CLUSTER: cluster2
  artifacts:
    when: always
    paths:
      - .kube/
      - .awscluster2/

trrc01-cluster3-connect-check:
  image: harshshekhar15/gitlab-job:v6
  stage: USER-CLUSTER-CONNECT
  script:
    - chmod 755 ./stages/5-cluster-connect-check/cluster-connect-existing-user
    - ./stages/5-cluster-connect-check/cluster-connect-existing-user
  variables:
    CLUSTER: cluster3
  artifacts:
    when: always
    paths:
      - .kube/
      - .awscluster3/

client-cluster2-components-check:
  image: harshshekhar15/gitlab-job:v6
  stage: USER-CLUSTER-CONNECT
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/5-cluster-connect-check/client-components-check
    - ./stages/5-cluster-connect-check/client-components-check
  variables:
    CLUSTER: cluster2

client-cluster3-components-check:
  image: harshshekhar15/gitlab-job:v6
  stage: USER-CLUSTER-CONNECT
  dependencies:
    - cluster3-setup-check
  script:
    - chmod 755 ./stages/5-cluster-connect-check/client-components-check
    - ./stages/5-cluster-connect-check/client-components-check
  variables:
    CLUSTER: cluster3

ebs-volume-create-cluster2:
  image: harshshekhar15/gitlab-job:v6
  stage: USER-CLUSTER-CONNECT
  script:
    - chmod 755 ./stages/17-ebs-volume/create
    - ./stages/17-ebs-volume/create
  variables:
    CLUSTER: cluster2
    NUMBEROFVOLUMES: 3

ebs-volume-create-cluster3:
  image: harshshekhar15/gitlab-job:v6
  stage: USER-CLUSTER-CONNECT
  script:
    - chmod 755 ./stages/17-ebs-volume/create
    - ./stages/17-ebs-volume/create
  variables:
    CLUSTER: cluster3
    NUMBEROFVOLUMES: 9

## Self cluster connect
director-self-cluster-connect-check:
  image: harshshekhar15/gitlab-job:v6
  stage: SELF-CLUSTER-CONNECT
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/6-self-cluster-connect/self-connect-cluster-check
    - ./stages/6-self-cluster-connect/self-connect-cluster-check

## GUI automated tests on Openebs installation on DOP cluster
tcid-gaau01-gui-auth-check:
  image: harshshekhar15/gitlab-job:v6
  stage: DIRECTOR-GUI-CHECK
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/14-director-gui-check/gui-auth-check
    - ./stages/14-director-gui-check/gui-auth-check
  artifacts:
    paths:
      - /builds/oep/oep-e2e-aws/gui-automation/results
 
tcid-gacc01-gui-cluster-check:
  image: harshshekhar15/gitlab-job:v6
  stage: DIRECTOR-GUI-CHECK
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/14-director-gui-check/gui-cluster-check
    - ./stages/14-director-gui-check/gui-cluster-check
  artifacts:
    when: always
    paths:
      - /builds/oep/oep-e2e-aws/gui-automation/results
 
tcid-gada01-gui-dashboard-home-check:
  image: harshshekhar15/gitlab-job:v6
  stage: DIRECTOR-GUI-CHECK
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/14-director-gui-check/gui-dashboard-home-check
    - ./stages/14-director-gui-check/gui-dashboard-home-check
  artifacts:
    when: always
    paths:
      - /builds/oep/oep-e2e-aws/gui-automation/results
 
tcid-gato01-gui-dashboard-topology-check:
  image: harshshekhar15/gitlab-job:v6
  stage: DIRECTOR-GUI-CHECK
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/14-director-gui-check/gui-dashboard-topology-check
    - ./stages/14-director-gui-check/gui-dashboard-topology-check
  artifacts:
    when: always
    paths:
      - /builds/oep/oep-e2e-aws/gui-automation/results
 
gui-dashboard-check:
  image: harshshekhar15/gitlab-job:v6
  stage: DIRECTOR-GUI-CHECK
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/14-director-gui-check/gui-dashboard-check
    - ./stages/14-director-gui-check/gui-dashboard-check
  artifacts:
    when: always
    paths:
      - /builds/oep/oep-e2e-aws/gui-automation/results
 
tcid-gaal01-gui-dashboard-alerts-check:
  image: harshshekhar15/gitlab-job:v6
  stage: DIRECTOR-GUI-CHECK
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/14-director-gui-check/gui-dashboard-alerts-check
    - ./stages/14-director-gui-check/gui-dashboard-alerts-check
  artifacts:
    when: always
    paths:
      - /builds/oep/oep-e2e-aws/gui-automation/results
       
tcid-galo01-gui-dashboard-logs-check:
  image: harshshekhar15/gitlab-job:v6
  stage: DIRECTOR-GUI-CHECK
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/14-director-gui-check/gui-dashboard-logs-check
    - ./stages/14-director-gui-check/gui-dashboard-logs-check
  artifacts:
    when: always
    paths:
       - /builds/oep/oep-e2e-aws/gui-automation/results
 
tcid-gada02-gui-dashboard-overview-check:
  image: harshshekhar15/gitlab-job:v6
  stage: DIRECTOR-GUI-CHECK
  dependencies:
    - TCID-DIR-INSTALL-ON-LOCAL-HP
  script:
    - chmod 755 ./stages/14-director-gui-check/gui-dashboard-overview-check
    - ./stages/14-director-gui-check/gui-dashboard-overview-check
  artifacts:
    when: always
    paths:
        - /builds/oep/oep-e2e-aws/gui-automation/results

## Metrics check
metrics-check:
   image: harshshekhar15/gitlab-job:v6
   stage: METRICS-CHECK
   dependencies:
     - cluster2-setup-check
   script:
     - chmod 755 ./stages/7-metrics-check/metrics-check
     - ./stages/7-metrics-check/metrics-check

triv01-teaming-invite-check:
  image: harshshekhar15/gitlab-job:v6
  stage: TEAMING-CHECK
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/8-teaming-check/teaming-invite-check
    - ./stages/8-teaming-check/teaming-invite-check

trrc02-teaming-change-role-check:
  image: harshshekhar15/gitlab-job:v6
  stage: TEAMING-CHECK
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/8-teaming-check/teaming-change-role-check
    - ./stages/8-teaming-check/teaming-change-role-check

trrc03-teaming-change-role-negative-check:
  image: harshshekhar15/gitlab-job:v6
  stage: TEAMING-CHECK
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/8-teaming-check/teaming-change-role-negative-check
    - ./stages/8-teaming-check/teaming-change-role-negative-check

topology-check:
  image: atulabhi/kops:v8
  stage: TOPOLOGY-CHECK
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/9-topology-check/topology-check
    - ./stages/9-topology-check/topology-check
    
# # Openebs installation on DOP cluster
# tcid-iuoi01-openebs-self-install:
#   image: harshshekhar15/gitlab-job:v6
#   stage: OPENEBS-INSTALL-CHECK
#   dependencies:
#     - cluster3-setup-check
#   script: 
#     - chmod 755 ./stages/10-openebs-install-check/openebs-self-installation-check
#     - ./stages/10-openebs-install-check/openebs-self-installation-check
    
## Openebs install check
tcid-iuoi02-openebs-install:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/10-openebs-install-check/openebs-install-check
    - ./stages/10-openebs-install-check/openebs-install-check

## Openebs control plane installation Check
tcid-iuoi03-openebs-control-plane:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster3-setup-check
  script: 
    - chmod 755 ./stages/10-openebs-install-check/openebs-control-plane-test
    - ./stages/10-openebs-install-check/openebs-control-plane-test

## Openebs data plane installation Check
tcid-iuoi04-openebs-data-plane:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster3-setup-check
  script: 
    - chmod 755 ./stages/10-openebs-install-check/openebs-data-plane-test
    - ./stages/10-openebs-install-check/openebs-data-plane-test

## Openebs reinstallation Check
tcid-iuoi06-openebs-reinstallation:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster3-setup-check
  script: 
    - chmod 755 ./stages/10-openebs-install-check/openebs-reinstallation-test
    - ./stages/10-openebs-install-check/openebs-reinstallation-test

## openebs-resource-limit-installation
tcid-iuoi14-openebs-resource-limit-installation:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster3-setup-check
  script: 
    - chmod 755 ./stages/10-openebs-install-check/openebs-resource-limit-installation
    - ./stages/10-openebs-install-check/openebs-resource-limit-installation

tcid-dir-op-cstor-pool-recommend-create-stripe:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-INSTALL-CHECK
  script:
    - chmod 755 ./stages/10-openebs-install-check/tcid-dir-op-cstor-pool-recommend-create-stripe
    - ./stages/10-openebs-install-check/tcid-dir-op-cstor-pool-recommend-create-stripe

openebs-storage-policies:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-INSTALL-CHECK
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/10-openebs-install-check/openebs-storage-policies
    - ./stages/10-openebs-install-check/openebs-storage-policies

## List capacity recommendations
# tcid-cpre01-list-recommendations:
#   image: harshshekhar15/gitlab-job:v6
#   stage: CSTORPOOL-RECOMMENDATION-CHECK
#   dependencies:
#     - cluster2-setup-check
#   script:
#     - chmod 755 ./stages/15-recommendation-check/capacity-recommendation
#     - ./stages/15-recommendation-check/capacity-recommendation

# ## List device recommendations
# tcid-cpre02-device-recommendation:
#   image: harshshekhar15/gitlab-job:v6
#   stage: CSTORPOOL-RECOMMENDATION-CHECK
#   dependencies:
#     - cluster2-setup-check
#   script:
#     - chmod 755 ./stages/15-recommendation-check/device-recommendation
#     - ./stages/15-recommendation-check/device-recommendation

## Functional Tests

Jiva-App-Target-Affinity:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-FUNCTIONAL
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/18-openebs-functional/jiva-app-target-affinity
    - ./stages/18-openebs-functional/jiva-app-target-affinity

Jiva-Snapshot:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-FUNCTIONAL
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/18-openebs-functional/jiva-snapshot
    - ./stages/18-openebs-functional/jiva-snapshot

Jiva-Snapshot-Clone:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-FUNCTIONAL
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/18-openebs-functional/jiva-snapshot-clone
    - ./stages/18-openebs-functional/jiva-snapshot-clone

# Jiva-Snapshot-Delete:
#   image: harshshekhar15/gitlab-job:v6
#   stage: OPENEBS-FUNCTIONAL
#   dependencies:
#     - cluster2-setup-check
#   script:
#     - chmod 755 ./stages/18-openebs-functional/jiva-snapshot-delete
#     - ./stages/18-openebs-functional/jiva-snapshot-delete

Jiva-Volume-Scaleup:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-FUNCTIONAL
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/18-openebs-functional/jiva-vol-scaleup
    - ./stages/18-openebs-functional/jiva-vol-scaleup

cStor-csi-volume-snapshot:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-FUNCTIONAL
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/18-openebs-functional/csi-cstor-snapshot
    - ./stages/18-openebs-functional/csi-cstor-snapshot

cStor-csi-volume-clone:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-FUNCTIONAL
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/18-openebs-functional/csi-cstor-clone
    - ./stages/18-openebs-functional/csi-cstor-clone

cStor-ext4-volume-resize:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-FUNCTIONAL
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/18-openebs-functional/cstor-ext4-volume-resize
    - ./stages/18-openebs-functional/cstor-ext4-volume-resize

cStor-xfs-volume-resize:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-FUNCTIONAL
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/18-openebs-functional/cstor-xfs-volume-resize
    - ./stages/18-openebs-functional/cstor-xfs-volume-resize
    
# CHAOS Tests JOB
Jiva-App-Kill:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-CHAOS
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/19-openebs-chaos/jiva-app-kill
    - ./stages/19-openebs-chaos/jiva-app-kill

Jiva-Revision-Counter:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-CHAOS
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/19-openebs-chaos/jiva-revision-counter
    - ./stages/19-openebs-chaos/jiva-revision-counter

Jiva-Replica-Network-Delay:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-CHAOS
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/19-openebs-chaos/jiva-replica-network-delay
    - ./stages/19-openebs-chaos/jiva-replica-network-delay

Jiva-Controller-Kill:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-CHAOS
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/19-openebs-chaos/jiva-controller-kill
    - ./stages/19-openebs-chaos/jiva-controller-kill

Jiva-Controller-Network-Delay:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-CHAOS
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/19-openebs-chaos/ctrl-network-delay
    - ./stages/19-openebs-chaos/ctrl-network-delay

Jiva-Replica-Node-Affinity:
  image: harshshekhar15/gitlab-job:v6
  stage: OPENEBS-CHAOS
  dependencies:
    - cluster2-setup-check
  script:
    - chmod 755 ./stages/19-openebs-chaos/rep-node-affinity
    - ./stages/19-openebs-chaos/rep-node-affinity

## E2E test coverage
e2e-metrics:
  when: always
  image: harshshekhar15/gitlab-job:v3
  stage: E2E-METRICS
  dependencies:
    - cluster-create
  script:
    - chmod 755 ./stages/12-e2e-metrics/e2e-metrics
    - ./stages/12-e2e-metrics/e2e-metrics
  artifacts:
    paths:
      - .kube/
      
# Kubernetes cluster cleanup
cluster-cleanup:
  when: always
  image: harshshekhar15/gitlab-job:v6
  stage: CLUSTER-CLEANUP
  script:
    - chmod 755 ./stages/13-cluster-cleanup/delete-cluster
    - ./stages/13-cluster-cleanup/delete-cluster
  artifacts:
    when: always
    paths:
      - .kube/

## Selenium Grid Clean up
selenium-grid-cleanup:
  when: always
  image: harshshekhar15/gitlab-job:v6
  stage: CLUSTER-CLEANUP
  script:
    - chmod 755 ./stages/16-selenium-grid/delete
    - ./stages/16-selenium-grid/delete
  artifacts:
    paths:
      - .kube/
